{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-param" content="_csrf">
        <meta name="csrf-token" content="YnF6WUMzVGFVFDchMl42NgM8Nj8FexkoFhkNGiREYAIpRjIuAlI8MA==">
        <title>DIANA tools - D-sORF</title>
        
        <link type="image/png" href="static/predictor/favicon.ico" rel="icon">

        <link rel="stylesheet" href="/static/predictor/citationbox.css">
        <link rel="stylesheet" href="/static/predictor/sticky-footer-navbar.css">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header fixed-top " >
            <nav class="navbar navbar-expand-md navbar-dark  bg-dark ">
                <a class="navbar-brand" href="/">DIANA tools</a>
            
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/input_form/">On Line Dsorf</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/help/">Readme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/download/">Downloads</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>-->
                    </ul>
                </div>
            </nav>
        </div>
        <main>
        <div class="container  text-center"  style="margin-top: 5%;margin-bottom: 5%;">
                <div class="text-center b row">
                {% block content %}
                {% endblock %}
                </div>
                

        </div>
        </main>
            

        <div class="footer fixed-bottom text-center"  >
            
                <span class="text-muted ">
                    &copy; 2018 <a href="http://www.dianalab.gr/" target="_blank">Diana-Lab</a>  <a href="http://www.inf.uth.gr/?lang=en" target="_blank">Univ. of Thessaly</a> & <a href="http://www.pasteur.gr/?lang=en">Pasteur Institute</a> 
                    taratata
                    Powered by <a href="https://www.djangoproject.com/" rel="external">django Framework</a>
                </span>
            
        </div>
    </body>
</html>
    
    
