{% extends "base.html" %}
{% block content %}
<div class="row border offset-md-2 col-md-8 ">
    <p class="text-center h2">
    DsORF downloads 
    </p>
</div>
<div class="border offset-md-2 col-md-8 text-left">

    
</div>
<div class="border offset-md-2 col-md-8 text-left">

    <span class="h4">Installation Instructions </span><br>
    <span>DsORF is writen in python </span>
    <span>
        <br><u>Prerequisites </u> 
        <br><b>Python vesrion :</b> Python 2.7
        <br><b>Python Modules : </b> scikit-learn, SciPy
    </span>
    <span>
        <br> After install the packages above you can download <b>D-sORF </b> software bandle offline version <a href="">here</a>
        <br>Extract the tar.gz to the appropriate directory
        
    </span>
    
</div>
<!--Download full results <a href='{{resultsFullFileName}}'>here</a>-->
<!--and  Stats <a href='{{statsFullFileName}}'>here</a>-->
<!--and  test <a href='{{resultFileURL}}'>here</a>-->
{% endblock %}


