{% extends "base.html" %}
{% block content %}

    <h2>Notes</h2>
    <lu> <a href="/input_form/">Online</a> version Limitations
        <li>User can unput the sequence manualy or by file uploading </li>
        <li> In case of uploaded file only the first 20 sequence will be processed. For bigger file use the offline ver <a href="/download/">here</a></li>
        <li>User must supply the position of the start codon in the sequence. A small upstream region is needed for  </li>
    </lu>
<!--and  test <a href='{{resultFileURL}}'>here</a>-->
{% endblock %}


