{% extends "base.html" %}
{% block content %}
<div>
    <!-- First row containing application name and help -->
    <div class="row">
        <div class="col-md-12 col-md-offset-2 blue-tool-header text-center">
            <a href=""><h2><h2>D-sORF</h2></a><br>
        <p class="text-justify"> Small open reading frames (sORFs, <300nts) are widespread to all genomes. Since sORFs
are much smaller than the majority of coding sequences (CDS) of protein genes they were often
precluded in gene annotation. Even though sORFs may occur by chance part of them appear to be
functional. Over the past few decades an increasing variety of peptides produced from sORF’s have
been identified in various organisms, from bacteria to humans, as functional.
<p class="text-justify"> <B>D-sORF</B> is an algorithm that integrates statistical nucleotide context and motif information around the
start codon for the identification of small coding ORFs.When D-sORF is applied on sORFs associated with
ribosomes, the recognition of transcripts producing peptides (associated with Ensembl ID’s) is similar
or superior with approaches based on Ribosome sequencing profiling. In parallel the recognition of
putative negative data, for example ribosome associated transcripts form intron regions,
remain remarkably low.</p>
        </div>
        <!--<div class="col-md-2">   -->
        <!--    <div class="blue-help-container col-md-12">-->
        <!--        <a class="btn btn-default blue-help-btn" href="/help/" >Help <i class="fa fa-question-circle"></i></a>-->
        <!--    </div>-->
        <!--    <div class="blue-help-container col-md-12">-->
        <!--        <a class="btn btn-default blue-help-btn" href="/download/" >Download <i class="fa fa-download" aria-hidden="true"></i></a>-->
        <!--    </div>-->
        <!--</div>-->
  </div>
  <!-- Second row containing citation boxes -->
  <div class="row">
    <div class="col-md-2 "></div>
      <div class="col-md-8 col-md-offset-2 text-center">
          <div class="row">
                  <div class="col-md-12 ">
                  <div class="citation-box">
                    <b>Please cite:</b><b>D-sORF: Accurate ab initio classification of experimentally
                    detected sORFs associated to the translational machinery.</b><br>
                    Nikolaos Perdikopanis1,2, Antonis Giannakakis1,2 , Ioannis Kavakiotis1,2
                    and Artemis G. Hatzigeorgiou1,2,*<br>
                    1 DIANA-Lab, Department of Electrical & Computer Engineering, University of Thessaly,
                    382 21 Volos, Greece,<br>
                    2 DIANA-Lab, Hellenic Pasteur Institute, 127 Vasilissis Sofias Avenue, 11521 Athens,
                    Greece<br>
                  </div>
                  </div>
          </div>
      </div>
  </div>
  <!-- Third row containing link -->
  <div class="row">
      <div class="col-md-12  text-center">
        <div class="row">
          <div class="col-md-10 col-md-offset-4 " >
            <a class="btn btn-default blue-help-btn blue-tool-header" href="input_form/" > Continue to  OnLine D-sORF Predictor </a>
          </div>
        </div>
    </div>
  </div>
  
  
</div>
{% endblock %}


