{% extends "base.html" %}
{% block content %}
<div>
    <!-- First row containing application name and help -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2 blue-tool-header text-center">
            <a href="">D-sORF</a>
        </div>
        <div class="col-md-2">   
            <div class="blue-help-container col-md-12">
                <a class="btn btn-default blue-help-btn" href="" target="_blank">Help <i class="fa fa-question-circle"></i></a>
            </div>
            <div class="blue-help-container col-md-12">
                <a class="btn btn-default blue-help-btn" href="" target="_blank">Download <i class="fa fa-download" aria-hidden="true"></i></a>
            </div>
        </div>
  </div>
  <!-- Second row containing citation boxes -->
  <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
          <div class="row">
                  <div class="col-md-10 ">
                  <div class="citation-box"><b>Please cite:</b><br>Nikos Perdikopanis Antonis Giannakakis Giannis Kavakiotis  and Artemis G. Hatzigeorgiou "D-sORF ......." </div>			  	</div>
          </div>
      </div>
  </div>
  <!-- Third row containing link -->
  <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="row">
          <div class="col-md-10 col-md-offset-4 " >
            <a class="btn btn-default blue-help-btn blue-tool-header" href="input_form/" target="_blank"> OnLine D-sORF Predictor </a>
          </div>
        </div>
    </div>
  </div>
  
  
</div>
{% endblock %}


