{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="row border col-md-12  text-center w-75" >
        <div class="col-md-12   text-center border mt-3 bg-dark text-white ">    
            <a href="">OnLine D-sORF Predictor</a>
        </div>
        <div class="col-md-12   text-center border mt-3">
            <form method="POST" action="{%url 'input_form' %}"  enctype="multipart/form-data">
                {% csrf_token %}
    
                   <!--{{ form|crispy}} -->
                <div class="row text-left border">
                    
                    <div class="col-md-6  border align-middle">
                      {{ form.emailFormItem|as_crispy_field }}
                    </div>
                    <div class="col-md-3 border align-middle">
                       {{ form.modelFormItem|as_crispy_field }}
                    </div>
                    <div class="col-md-3  border  row align-items-center " >
                      {{ form.bypassSignalPepFormItem|as_crispy_field }}
                    </div>
                
                    <div class="col-md-3 col-md-offset-9 border  " >
                      {{ form.inputTypeFormItem|as_crispy_field }}
                    </div>
                    
                    <div class="col-md-12 col-md-offset-2  border " >
                      {{ form.sORFSequenceFormItem|as_crispy_field }}
                    </div>
                    
                    <div class=" col-md-12    border " >
                        {{ form.fileNameFormItem|as_crispy_field }}
                    </div>
                    
                    <div class="col-md-6  border">
                        {{ form.ATGStartingPosFormItem|as_crispy_field }}
                        <!--<small class="text-muted">Give the ATG starting page in submited seq</small>-->
                    </div>
                    <div class="col-md-6  border">
                        {{ form.simulateLength|as_crispy_field }}
                        <!--<small class="text-muted">In order to select only part of uplodaed sORFS</small>-->
                    </div>
                    
                    <div class="offset-8 col-md-4 align-right  border" >
                        <button type="submit" class="btn btn-success">Submit</button>
                        
                    </div>
                </div>
            </form>
            <script>
            function Hide() {
                if(document.getElementById('id_inputTypeFormItem').options[document.getElementById('id_inputTypeFormItem').selectedIndex].value == "1") {

                     document.getElementById('div_id_sORFSequenceFormItem').style.display = '';
                     document.getElementById('div_id_fileNameFormItem').style.display = 'none';
                } else {
                     document.getElementById('div_id_sORFSequenceFormItem').style.display = 'none';
                     document.getElementById('div_id_fileNameFormItem').style.display = '';
                }
            }
            
            window.onload = function() {
                document.getElementById('id_inputTypeFormItem').onchange = Hide;              
                document.getElementById('div_id_fileNameFormItem').style.display = 'none';

            };
            </script>
        </div>
            
    </div>  
{% endblock %}


